

.section-header{
    background-image: url("/images/banner/banner3.png");
    height: 808px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    margin: 0;

}
.banner-right-des{
    padding-left: 945px;
    padding-top: 50px;
    padding-right: 278px;
    color: #FFFFFF;
}
.banner-right-des-hed{
font-weight: 600;
    font-size: 53px;
}
.banner-description{
    color: #444343;
    font-size: 18px;
}
.btn-primary{
    height: 64px;
    border-radius:5px;
 background-color: orange;
 color: #FFFFFF;
    font-weight: 600;
        font-size: 20px;
        border: 0;
        padding:21px 25px;
        
}
.section-two-box{
display: flex;
padding-left: 210px;
padding-right: 210px;
}
.section-two-box-two{
    padding-top: 240px;
    padding-left: 125px;
}
.section-three {
    height: 200px;
    width: 1140px;
    background-image: url("/images/watch.png");
    background-repeat: no-repeat;
   background-size: 100% 100%;
   margin-left: 180px;
   margin-top: 100px;
   margin-bottom: 100px;


}
.section-three-gradient{
    height: 200px;
        width: 1140px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
}
.section-three-box{
width:440px;
padding-left: 40px;
padding-top: 35px;


}
.btn-section-three {
    height: 45px;
    border-radius: 5px;
    background: #ffffff;
    color: #005FAC;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    padding: 15px 25px;
}
.section-three-des {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    
}
.title{
    font-size: 42px;
    margin-bottom:20px;
   
}
.point{
    font-size: 15px;
    color: #444343;
   
    
}
.paragraph{
    font-size: 15px;
    margin-bottom: 15px;
    color: #444343;
    
}
.second-image{
    display: flex;
    align-items: center;
    display: flex;
}
/* my-plans-section */
.my-plan{
    margin-top: 130px;
    display: flex;
    
   
}
.my-plan-title{
    padding-top: 10px;
    padding-left: 10px;
}
.plans-container{
    display:flex;
    gap:100px
    
}
.plans-title{
    font-weight: 700;
        font-size: 30px;
        margin-top:10px;
        margin-bottom:5px;
}
.plans-description{
    color: #737272;
}
.plans{
    background: #FFFFFF;
    box-shadow:0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}
.section-title{
    text-align:center;
}
/* contact styles */
.contact{
    display: flex;
    background-color:black;
    color: #FFFFFF;
    gap: 100px;
    padding:130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input{
    margin-bottom:16px;
    border: 0;
    
}
